
@{
    ViewBag.Title = "SetRole";
}
@using Account.Models
@{
    UserInfos user = ViewBag.user;
    List<R_User_Roles> r = ViewBag.r;
    List<Account.Models.Roles> list = ViewBag.list;
}
<ul class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">用户列表</a></li>
    <li class="active">角色设置</li>
</ul>
<h2>正在为 @user.Name 设置角色</h2>
<form action="" method="post">
    @foreach (var role in list)
    {
        var check = false;
        foreach (var item in r)
        {
            if (item.RoleID == role.ID)
            {
                check = true;
                break;
            }

        }
        <input type="checkbox" name="roles" id="roles" checked="@check" value="@role.ID" />
        @role.Name
        <br />
    }
<input type="hidden" name="UserID" value="@user.ID" />
<input type="submit" class="btn btn-primary" value="提交" />
</form>